src/main/resources/wsdl/SimpleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/SimpleService"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="SimpleService"
             targetNamespace="http://example.com/SimpleService">
    <types>
        <xsd:schema targetNamespace="http://example.com/SimpleService">
            <xsd:element name="AddRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="a" type="xsd:int"/>
                        <xsd:element name="b" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="AddRequestMessage">
        <part name="parameters" element="tns:AddRequest"/>
    </message>
    <message name="AddResponseMessage">
        <part name="parameters" element="tns:AddResponse"/>
    </message>
    <portType name="SimpleServicePortType">
        <operation name="Add">
            <input message="tns:AddRequestMessage"/>
            <output message="tns:AddResponseMessage"/>
        </operation>
    </portType>
    <binding name="SimpleServiceBinding" type="tns:SimpleServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Add">
            <soap:operation soapAction="http://example.com/SimpleService/Add"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SimpleService">
        <port name="SimpleServicePort" binding="tns:SimpleServiceBinding">
            <soap:address location="http://localhost:8080/ws"/>
        </port>
    </service>
</definitions>
